@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700);

$teal : #5eb9a5;
$pink : #e13452;
$green: #b3d149;
$brown: #976b48;
$kraft: #978261;
$gray : #8a8786;

$focus: $green;

$serif: 'PT Serif', serif;
$sans: 'PT Sans', sans-serif;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $sans;
  font-size: 18px;
  background: lighten($focus, 30%);
  color: #333;
}

h1, h2, h3 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: $teal;
}

.container {
  overflow: auto;
  max-width: 1120px;
  margin: 0px auto;
}

.all {
  overflow: auto;
  margin: 0px auto;
}

.meta {
  width: 45%;
  float: left;

  >.in {
    padding-top: 0;
    overflow: auto;
    border-right: 5px solid lighten($focus, 20%);
  }
}

header.site {
  overflow: auto;
  width: 50%;
  float: right;

  .container {
  }

  .in {
    padding: 0;
  }

  h1 {
    display: inline-block;
    background: transparent url(../img/bbd_logo2.png) no-repeat -25px center;
    background-size: 100% auto;
    text-indent: -9999px;
    padding: 20px 0;
    width: 100%;
    height: 100px;
    float: left;
    margin-top: 0;
  }

  .nav {
    padding: 20px 0px 20px 0px;

    li {
      display: inline-block;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
      width: 49%;
      font-family: $serif;

      &.forum,
      &.resources,
      &.events,
      &.projects {
        ttext-transform: uppercase;
      }

      a {
        color: #333;
        padding-bottom: 5px;
        display: inline-block;
        margin-right: 15px;
      }

      &.active a,
      a:hover {
        background: transparent url(../img/peg.png) repeat-x left bottom;
        background-size: 8px 8px;
      }

      &.forum a {
        color: $pink;
      }

      &.resources a {
        color: darken($green, 10%);
      }

      &.events a {
        color: $teal;
      }

      &.projects a {
        color: $brown;
      }

      &.secondary a {
        color: $gray;
      }

    }
  }
}


footer {
  background: $kraft;

  h1 {
    background-color: $kraft;
  }

  .container {
    background: transparent url(../img/people.png) no-repeat center right;
    background-size: auto 80%;
  }
}

.container.resources {
  background: lighten($green, 25%); // maybe d5e69a
  width: 80%;
}

.c .container.resources {
  background: #fff;
}

header.section {
  margin-bottom: 1em;

  .container {
    padding: 40px 0px;
    // background: transparent url(../img/fullboard.png) no-repeat right center;
    background-size: auto 120%;
  }

  h2 {
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    color: darken($focus, 0%);
  }
}


.sidebar  {
  width: 25%;
  // min-width: 250px;
  clear: both;
  float: right;
  font-size: 0.85em;

  .in {
    padding-right: 20px;
    padding-left: 0;
    padding-top: 0;
  }

  a {
    color: #333;
  }

  h3 {
    font-family: $sans;
    font-size: 1em;
    letter-spacing: 0;
    margin-bottom: 0.5em;
    margin-top: 2em;
    color: #333;
    font-weight: bold;
  }

  .subnav {
    li {
      list-style: none;
      text-indent: 0;
      margin-bottom: 1em;
      a {
        // color: #fff;
      }
    }
  }
}

.main {
  float: right;
  width: 55%;
  min-width: 750px;
  overflow: auto;

  background: #fff url(../img/peg.png) repeat-y left top;

  .in {
    padding: 0px 0px 50px 50px;
  }
}

.content {
  float: left;
  max-width: 75%;
  min-width: 750px;

  h3 {
    font-size: 3.5em;
    line-height: 1em;
    font-family: $serif;
    letter-spacing: -1px;
    margin-bottom: 0em;
    padding-bottom: 0.25em;
    //background: transparent url(../img/peg.png) repeat-x left bottom;
  }

  .sidebar {
    float: right;
  }

  .in {
    padding: 0;
  }
}

.in {
  padding: 20px;
}

p {
  margin-bottom: 1em;
  line-height: 1.8;
  font-family: $serif;
  font-size: 18px;
}

p.byline {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: 2em;
  font-family: $sans;
}

.row {
}
