@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700);

$teal : #5eb9a5;
$pink : #e13452;
$green: #b3d149;
$brown: #976b48;
$kraft: #978261;
$gray : #8a8786;

$focus: $green;

$serif: 'PT Serif', serif;
$sans: 'PT Sans', sans-serif;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $sans;
  font-size: 1em;
  background: #fff;
  color: #333;
}

h1, h2, h3 {
  font-weight: normal;
}

h3 {
  font-family: $sans;
  font-size: 1em;
  letter-spacing: 0;
  margin-bottom: 0em;
  margin-top: 1em;
  color: darken($focus, 40%);
  font-weight: bold;
}

p.byline {
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: 2em;
  font-family: $sans;
}

a {
  text-decoration: none;
  color: $teal;
}

.container {
  overflow: auto;
  max-width: 1120px;
  margin: 0px auto;
}

header.site,
footer {
  // background: $kraft url(../img/board.png) repeat left top;
  overflow: auto;

  .container {
  }

  h1 {
    display: inline-block;
    background: transparent url(../img/bbd_logo2.png) no-repeat -15px center;
    background-size: auto 80%;
    text-indent: -9999px;
    padding: 20px 0;
    width: 200px;
    float: left;
  }

  .nav {
    width: 80%;
    float: right;
    text-align: right;
    line-height: 80px;

    li {
      display: inline-block;
      font-weight: normal;
      margin-right: 20px;
      font-size: 20px;
      font-family: $serif;

      &.forum,
      &.resources,
      &.events,
      &.projects {
        text-transform: uuppercase;
        font-weight: bold;
      }

      &.forum {
        padding-left: 50px;
      }

      a {
        color: #333;
        padding-bottom: 5px;
      }

      &.active a,
      a:hover {
        background: transparent url(../img/peg.png) repeat-x left bottom;
        background-size: 8px 8px;
      }

      &.resources.active a,
      &.resources a:hover {
        color: $green;
      }


      &.forum.active a,
      &.forum a:hover {
        color: $pink;
      }


      &.events.active a,
      &.events a:hover {
        color: $teal;
      }

      &.projects.active a,
      &.projects a:hover {
        color: $brown;
      }

      &.secondary a {
        color: $gray;
      }
    }
  }
}

header.site {
  background: #fff;
}

footer {
  background: $kraft;

  h1 {
    background-color: $kraft;
  }

  .container {
    background: transparent url(../img/people.png) no-repeat center right;
    background-size: auto 80%;
  }
}

header.section {
  background: $focus;
  margin-bottom: 1em;

  .container {
    padding: 40px 0px;
    // background: transparent url(../img/fullboard.png) no-repeat right center;
    background-size: auto 120%;
  }


  h2 {
    font-size: 5em;
    text-align: left;
    font-weight: bold;
  }
}

.actionbar  {
  max-width: 22%;
  float: left;
  margin-top: 20px;

  h3 {
    color: darken($focus, 30%);
  }

  p {
    font-size: 1em;
    line-height: 1.2em;
  }

  li {
    list-style: none;
    margin-bottom: 0.5em;
  }

  a {
    color: darken($focus, 40%);
    border-bottom: 1px dotted darken($focus, 30%);
  }

  .action {
    margin-bottom: 2em;
  }
}

.sidebar  {
  max-width: 18%;
  float: left;
  margin-top: 20px;

  .in {
    padding-left: 0;
    border: 5px solid lighten($focus, 16%);
    border-radius: 5px;
    border-width: 5px 0px 5px 5px;
    background: lighten($focus, 30%);
    padding-left: 20px;

  }

  .subnav {
    margin-bottom: 2em;

    li {
      list-style: none;
      text-indent: 0;
      margin-bottom: 0.75em;
      line-height: 1em;

      a {
        color: #333;
      }
    }
  }
}


.all {
  background: lighten($focus, 20%);
  overflow: auto
}

.main {
  max-width: 60%;
  float: left;
  overflow: auto;
  margin-bottom: 50px;

  >.in {
    padding: 50px 50px 20px;
    border: 5px solid lighten($focus, 10%);
    border-radius: 5px;

    background: #fff;
    overflow: auto
  }

}

.content {
  float: left;

  h3 {
    font-size: 2em;
    font-family: $sans;
    letter-spacing: -1px;
    margin-bottom: 0em;
    margin-top: 0;
    padding-bottom: 0.25em;
    font-weight: bold;
    background: transparent url(../img/peg.png) repeat-x left bottom;
  }

  .sidebar {
    float: right;
  }

  .in {
    padding: 0;
  }
}

.in {
  padding: 20px;
}

p {
  margin-bottom: 1em;
  line-height: 1.8;
  font-family: $serif;
  font-size: 18px;
}

.row {
}
